#grad1 {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    background: linear-gradient(red, yellow);
    /* background: linear-gradient(to right, rgb(255, 115, 0), white, green); */
    background: linear-gradient(to right, Orange 30%, white 50%, green 100%);
}

#grad2 {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    /* background: radial-gradient(circle, red, yellow,green,blue,pink,white); */
    background: radial-gradient(circle at top left, red,yellow,green,blue,pink,white);
}

#grad3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    background: conic-gradient(red,yellow,green,blue);
    /* background: conic-gradient(red 0deg 90deg, blue 90deg 100deg); */
}