* {
    padding: 0px;
    margin: 0px;
}

.box {
    width: 100px;
    /* height: 50px; */
    background-color: aqua;
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
    border: 5px solid blueviolet;
    /* padding: 10px; */
    padding-left: 20px;
    padding-top: 50px;
    /* margin: 20px; */
    margin-top: 20px;
    outline: 10px double blue;

    /* 1 value = 4sides
    2 values = 10px top & bottom, 40px left & right
    3 values = 100px top 40px left&right 20px
    4 values = top right bottom left */
}