* {
    margin: 40px;
    box-sizing: border-box;
    background-color: beige;
}

body {
    height: 300vh;
}

h1 {
    text-align: center;
    text-shadow: 10px 15px 10px yellow;
}

.nav {
    padding: 10px;
    background-color: red;
    color: whitesmoke;
    font-weight: bolder;
    box-shadow: 10px 20px 15px palevioletred;
    text-align: center;
    position: sticky;
    top: 0px;
}

.offer {
    background-color: paleturquoise;
    border: 3px solid red;
    box-shadow: 10px 10px 30px red;
    font-weight: 600;
    height: 80px;
    width: 280px;
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 650px;
}

.parent {
    position: relative;
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    width: 120px;
    height: 60px;
    border: 3px solid brown;
    background-color: aqua;
    position: absolute;
    /* right: 100px;
    top: 100px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.chat {
    background-color: darkblue;
    padding: 30px;
    color: white;
    font-size: 20px;
    width: 150px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}