.container {
    display: flex;
    background-color: aqua;
    border: 4px solid black;
    height: 300px;
    flex-direction: row;
    /* justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-around; */
    justify-content: center;
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: baseline; */
    flex-wrap: wrap;
    /* align-content: center; */
    align-content: space-between;

}

.container div {
    background-color: beige;
    height: 40px;
    margin: 10px;
    padding: 30px;
}


.container .div1 {
    order: 2;
    flex-grow: 200px;
}

.container .div2 {
    order: 1;
    flex-grow: 3;
}

.container .div3 {
    order: 3;
    flex-grow: 1;
}